@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-5">
        <div class="row no-gutters border mb-4">
            <img src="~/lib/movie.jpg" alt="Movies" class="img-fluid mh-100 ">
            <div class="col p-4 mb-4 ">
                <h2 class="card-text margin-top text-center">All the movies I've watched, with ratings and notes.</h2>
            </div>
        </div>
    </div>
   @* <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <img src="~/lib/television.jpg" alt="Movies" class="img-fluid mh-100 mw-100">
                <p class="card-text mb-auto">All the TV shows I've watch, with ratings and notes.</p>
            </div>
        </div>
    </div>*@
    <div class="col-md-2"> </div>
    <div class="col-md-5">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <img src="~/lib/coding.jpg" alt="Keyboard" class="img-fluid card-img-top" > 
                <h2 class="card-text margin-top text-center">Please check out my Github!</h2>
            </div>
        </div>
    </div>
